{% extends 'main/base.html' %}
{% load static %}

{% block title%}О нашем магазине{% endblock %}
{% block tab-name %}о нашем магазине{% endblock %}
{% block content%}
<p> В "Jesus Water" - вы сможете подобрать бюджетные варианты спиртных напитков и элитный алкоголь в подарочных упаковках. Цена на алкоголь различается в зависимости от категории напитка, страны производителя, бренда и возраста.
    В наших магазинах вас ждут:
    - широкий ассортимент алкогольных и безалкогольных напитков высокого качества;
    - индивидуальная система скидок;
    - регулярные акции и специальные предложения;
    - профессиональные консультанты;
    - доступные цены.</p>
<img src="{% static 'img/wine1.jpg' %}" alt="cafe" class="subimg">
{% endblock %}