{% extends 'main/base.html' %}

{% block title%}
{{ title }}
{% endblock %}
{% block tab-name %}Главная{% endblock %}
{% block content%}
<h1>Меню</h1>
{% if positions %}
    <form method="get" class="form-filter">
        <div class="form-filter__inputs">
        Название: {{ positions.form.name }}
        Тип: {{ positions.form.type }}
        Вес(литры): {{ positions.form.gramm }}
        Описание: {{ positions.form.sostav }}
        Цена: {{ positions.form.price }}
        <button type="submit" class="btn btn-primary">Фильтровать</button>
        </div>
    </form>
<table>
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Литры</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    {% for el in positions.qs %}
    <tr>
        <td>{{el.name}}</td>
        <td>{{el.type}}</td>
        <td>{{el.gramm}}</td>
        <td>{{el.sostav}}</td>
        <td>{{el.price}} р.</td>
        <td>
            <div class="produtcs__btns">
                <a href="{% url 'delete' el.id %}">
                    <button class="btn btn-danger">Удалить</button>
                </a>
                <a href="{% url 'update' el.id %}">
                    <button class="btn btn-success">Изменить</button>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>У нас нет позиций в меню</p>
{%endif%}
{% endblock %}